@import "_resetStyle";
@import "_mixin";

%lat {font-family: 'Lato', sans-serif}
%rob {font-family: 'Roboto', sans-serif}
%mon {font-family: 'Montserrat', sans-serif}
%rel {font-family: 'Raleway', sans-serif}

//   @extend %lat;
//   @extend %rob;
//   @extend %mon;
//   @extend %rel;


$cont: 1180;

$ellow: #ffbb00;
$gray: #242424;

body {
   @extend %lat;

   &.lock {
      overflow: hidden;
   }
}
.container {
   margin: 0 auto;
   max-width: 1200px;
   padding: 0 10px;
}

.btn {
   background: $ellow;
   color: #ffffff;
   border: solid 3px #ffffff;
   display: inline-block;

   transition: color, background-color .1s;

   &:hover {
      color: $ellow;
      background-color: #fff;
   }
}

.logo {
   @extend %mon;
   @include adaptiv-value('font-size', 33, 24);


   color: #fff;
   font-weight: 700;

   span {
      font-weight: 300;
    }
}

.intro {
   display: flex;
   flex-direction: column;

   height: 100vh;
   min-height: 450px;
   background: url(../images/header/header_bg.png) no-repeat center;
   background-position: center 0;
   background-size: cover;
}
.intro__header {
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   min-height: 109px;
   z-index: 4;
   background: rgba(24,24,24, 0.8);

   @media (max-width: 768px) {
      min-height: 80px;
      
   }
}
.intro__header__inner {
   width: 100%;
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
}
.logo_intro {
   
   position: relative;
   z-index: 2;

   

  &::after {
      content: '';
      top: -5px;
      z-index: -1;
      position: absolute;
      background: $ellow;
      height: 180%;
      width: 8000%;
      left: -7880%;
      display: block;

   } 
}
.intro__nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   min-width: 70%;
}
.intro__link {
   margin-left: 60px;
   font-size: 30px;
   color: #ffffff;
   transition: text-shadow .1s;

   &:hover {
      text-shadow: 0 0 7px #fff;
   }

   &::first-letter {
      text-transform: uppercase;
   }
}
.intro__burger {
   display: none;
   position: absolute;
}

@media (max-width: 1024px) {
   .intro__nav {
      min-width: 70%;
   }
   
}

@media (max-width: 768px) {
   .intro__header__inner {
      padding-top: 20px;
   }
   .intro__nav {
      padding: 20px 0 0 20px;
      margin-top: 90px;
      position: fixed;
      top: -150%;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffbb00cb;

      flex-direction: column;
      justify-content: start;

      transition: all .1s linear;

      

      &.active{
         top: 0;
         overflow: auto;
      }
   }
   .intro__link {
      margin-bottom: 30px;
      font-size: 40px;
      display: inline-block;
   }

   .intro__burger {
      display: block;
      position: relative; 
      height: 42px;
      width: 53px;
      top: 8px;


      &::after,
      &::before,
      span {
         content: '';
         width: 100%;
         height: 6px;
         background: #fff;
         position: absolute;
         transition: all .1s linear;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: 45%;
      }
      &::before {
         top: 0;
      }

      &.active::after {
         bottom: 18px;
         transform: rotate(45deg);
      }
      &.active::before {
         top: 25px;
         transform: rotate(-45deg);
      }
      &.active span {
         opacity: 0;
      }
   }
}

.intro__content {

   flex-grow: 1;

   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;

   position: relative;
   z-index: 1;


   &::after {
      content: '';
      display: block;
      width: 1000%;
      height: 20%;
      left: -500%;
      margin-bottom: 87px;
      position: absolute;
      background: $ellow;
      z-index: -1;
   }
}
.intro__content__inner {
   @extend %mon;

   width: 100%;
   color: #ffffff;
   padding: 0 calc(2px + (30 - 2) * ((100vw - 320px) / (1180 - 320)));;

   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   flex-wrap: nowrap;
   
   position: relative;
   z-index: 3;

   @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .intro_btn {
         margin-top: 30px;
      }
   } 
}
.intro__title {
  font-size: 104px;
   text-transform: uppercase;

   span {
      font-weight: 900;
   }
}

.intro_btn {
   // @include adaptiv-font(37, 12, 1180);
   font-size: 37px;
   top: -12px;
   margin-top: 10px;
   margin-left: 5px;
   position: relative;
   text-transform: uppercase;
   font-weight: 450;

   padding: 20px 50px;
}
@media (max-width: 1200px) {
   .intro__title {
      @include adaptiv-value('font-size', 104, 50);
   }
   .intro_btn {
      @include adaptiv-value('font-size', 37, 18);

      padding: calc(3px + (20 - 3) * ((100vw - 320px) / (1180 - 320)))
      calc(7px + (50 - 7) * ((100vw - 320px) / (1180 - 320)));
   }

}

/* what-new */

.what-new {
   padding: calc(25px + (120 - 25) * ((100vw - 320px) / (1180 - 320))) 0;
   color: #ffffff;
   @include adaptiv-value('min-height', 450, 298);

   background-color: $gray;
   position: relative;

   img {
      position: absolute;
      @include adaptiv-value('height', 500, 124);
      
      bottom: 50%;
      transform: translate(0, 50%);
      right: 0;

   }
}

.what-new__content {
   @include adaptiv-value('padding-left', 60, 0);

   width: 100%;
   height: 100%;
   position: relative;
   z-index: 2;

   &::after {
      content: '';
      display: block;
      position: absolute;
      background: $ellow;

      width: 89%;
      max-width: 950px;
      left: -10%;

      height: 59%;
      z-index: -1;
      bottom: 55%;
      transform: translate(0, 50%)
   }
   &::before {
      content: 'new format';
      @extend %mon;
      
      white-space: nowrap;
      font-size: 50px;
      font-weight: 100;
      letter-spacing: 10px;
      position: absolute;
      left: -19%;
      top: 179px;
      transform: rotate(-90deg);
   }
}

.what-new__title {
   @include adaptiv-value('font-size', 42, 23);
   font-weight: bold;
   letter-spacing: 5px;
    margin-bottom: 50px;

    z-index: 2;
}
.what-new__item {
   @include adaptiv-value('margin-bottom', 70, 15);

   @include adaptiv-value('font-size', 47, 20);
   font-weight: 400;
   width: 87%;
   max-width: 740px;

   z-index: 2;

   &::before {
      content: '|';
      margin-right: 5px;
   }
}

@media (max-width: 1024px) {
   .what-new__item {
      max-width: 73%;
   }
}
@media (max-width: 1024px) {
   .what-new__content::before {
      display: none;
   }
   .what-new img {
      bottom: 61%;
   }

}

/* advantages */

.advantages {
   min-height: 375px;
   background: #ffffff;
   display: flex;
   align-items: center;

}
.advantages__list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.advantages__item {
   width: 27%;

   list-style-type: upper-roman;

   &::marker {
      font-weight: bold;
      color: $ellow;
      font-size: 29px;
      position: relative;
      z-index: 2;
  }
}
.advantages__title {
   @extend %mon;
   @include adaptiv-value('margin-bottom', 30, 3);
   @include adaptiv-value('font-size', 29, 18);

   font-weight: bold;
   color: $ellow;
   position: relative;

   &::before{
   @include adaptiv-value('top', 16, 10);

      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ffffff;
      left: -13px;
      position: absolute;
      z-index: 3;

      @media screen {
         
      }
   }
}
.advantages__txt {
   font-size: 17px;
   color: #000000;
}

@media (max-width: 768px) {
   .advantages__list {
      @include adaptiv-value('padding-top', 30, 10);
      @include adaptiv-value('padding-bottom', 30, 10);

      flex-direction: column;
      align-items: center;

      li {
         width: 80%;
         margin-bottom: 20px;
      }
   }
}
@media (max-width: 425px) {
   .advantages__list li {
      width: 90%;
   }
}


/* menu*/ 
.menu {
   @include adaptiv-value('min-height', 1000, 900);

   background: url(../images/menu/menu__bg.png) $gray no-repeat center;
   background-size:cover;
   
   overflow: hidden;

   padding: 80px 0 50px 0;
}
.logo_menu {
   color: $ellow; 
   display: block;
   text-align: center;

   margin-bottom: 70px;
}
%menu__title {
   display: block;
   height: 100%;
   
   margin-left: 20%;
   top: -9px;
   left: 0;
}

%menu--title--padding{
   @include adaptiv-value('padding-top', 24, 8);
   @include adaptiv-value('padding-bottom', 72, 10);  
}
.menu__title {
   @include adaptiv-value('margin-bottom', 240, 130);  

   @extend %mon;

   display: flex;
   width: 101%;
   position: relative;


   span {
      @extend %menu--title--padding;
      @include adaptiv-value('font-size', 48, 29);
      @extend %menu__title;
      width: 80%;
      text-align: center;

      padding: 24px 0 72px 0;
      

      margin-right: 10%;
      color: $ellow;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;

      @media(max-width:500px){
         padding: 24px 0;
      }
   
   }

   &::after {
      @extend %menu__title;

      content: '';
      width: 100%;
      display: block;
      padding: 24px 0 72px 20%;
      border: 2px solid #ffffff;
      position: absolute;
   }
   
}
.menu-list {

   li {list-style: upper-roman}

   width: 80%;

   float: right;
   position: relative;

   &::after {
      content: '';
      display: block;
      position: absolute;
      background: $ellow;

      width: 300%;
      height: 85%;
      position: absolute;
      top: -15%;
      left: -7%;
      z-index: 1;
      right: 193%;

      @media (max-width:768px) {
         width: 160%;
         left: -30%;
         right: 0;
      }
   }

   &::before {
      content: '';
      background: rgba(255, 218, 0, 0.4);
      position: absolute;
      z-index: 2;
      right: 7%;
      bottom: 10%;
      height: 96%;
      width: 65px;
   }

   @media (max-width:768px) {
      float: none;
      padding-left: 10%;

      &::before {
         right: -22.5%;
         bottom: 0;
         height: 110%;
      }
   }
}
.menu-list__item {
   @include adaptiv-value('font-size', 33, 18);
   @include adaptiv-value('margin-bottom', 50, 25);

   
   z-index: 2;
   position: relative;
   
   color: #ffffff;

   h3{
      text-transform: uppercase;
      
      font-weight: 500;
   }
   p {
      text-transform: lowercase;
      font-weight: 300;
      padding-right: 15%;

      &::before {content: '('}
      &::after {content: ')'}
   }
   span {
      position: absolute;
      z-index: 4;

      right: 10%;
      top: 0;
   }
   @media (max-width: 768px) {
      span {
         right: -19%;
      }
   }
}

.menu__benefit {
   color: #ffffff;
   font-weight: 300;
   clear: both;
   display: block;
   padding: 20px 0 20px ;
   @include adaptiv-value('padding-left', 180, 40);
   

   font-size: 25px;
   border: 2px solid #ffffff;
   width: 100%;

   line-height: 35px;

   li {
      list-style: upper-roman;
      
      &::before {
         content: '_';
         margin-right: 10px;
      }
   }
}