@import "_resetStyle";
@import "_mixin";

%lat {font-family: 'Lato', sans-serif}
%rob {font-family: 'Roboto', sans-serif}
%mon {font-family: 'Montserrat', sans-serif}
%ral {font-family: 'Raleway', sans-serif}

i {
   font-style: normal;
}

//   @extend %lat;
//   @extend %rob;
//   @extend %mon;
//   @extend %ral;

/*
адаптивная формула для px:
   calc(MINpx + (MAX - MIN) * ((100vw - 320px) / (MaxWidthContainer - 320)))
*/



$cont: 1180;

$ellow: #ffbb00;
$gray: #242424;

body {
   @extend %lat;

   &.lock {
      overflow: hidden;
   }
}
.container {
   margin: 0 auto;
   max-width: 1200px;
   padding: 0 10px;
}

.btn {
   background: $ellow;
   color: #ffffff;
   border: solid 3px #ffffff;
   display: inline-block;

   transition: color, background-color .1s;

   &:hover {
      color: $ellow;
      background-color: #fff;
   }
}

.logo {
   @extend %mon;
   display: inline-block;

   a {
      font-size: 33px;
      color: #fff;
      font-weight: 700;

      i {
         font-weight: 300;
      }
      
    }
    @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 33, 25);
   }
}

.intro {
   display: flex;
   flex-direction: column;

   height: 100vh;
   min-height: 450px;
   background: url(../images/header/header_bg.jpg) no-repeat center;
   background-position: center 0;
   background-size: cover;
}
.intro__header {
   top: 0;
   left: 0;
   width: 100%;
   position: fixed;
   min-height: 120px;
   z-index: 4;
   background: rgba(24,24,24, 0.8);

   @media (max-width: 768px) {
      min-height: 80px;
      
   }
}
.intro__header__inner {
   width: 100%;
   padding-top: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 
}
.logo_intro {
   
   position: relative;
   z-index: 2;

  &::after {
      content: '';
      top: -5px;
      z-index: -1;
      position: absolute;
      background: $ellow;
      height: 180%;
      width: 2000%;
      left: -1880%;
      display: block;

   } 
}
.intro__nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   min-width: 70%;
}
.intro__link {
   margin-left: 60px;
   font-size: 30px;
   color: #ffffff;
   transition: text-shadow .1s;

   &:hover {
      text-shadow: 0 0 7px #fff;
   }

   &::first-letter {
      text-transform: uppercase;
   }
}
.intro__burger {
   display: none;
   position: absolute;
}

@media (max-width: 1024px) {
   .intro__nav {
      min-width: 70%;
   }
   
}

@media (max-width: 768px) {
   .intro__header__inner {
      padding-top: 20px;
   }
   .intro__nav {
      padding: 20px 0 0 20px;
      margin-top: 90px;
      position: fixed;
      top: -150%;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(100%, 73%, 0%, .9);;

      flex-direction: column;
      justify-content: start;

      transition: all .1s linear;

      

      &.active{
         top: 0;
         overflow: auto;
      }
   }
   .intro__link {
      margin-bottom: 30px;
      font-size: 40px;
      display: inline-block;
   }

   .intro__burger {
      display: block;
      position: relative; 
      height: 42px;
      width: 53px;
      top: 8px;


      &::after,
      &::before,
      span {
         content: '';
         width: 100%;
         height: 6px;
         background: #fff;
         position: absolute;
         transition: all .1s linear;
      }
      &::after {
         bottom: 0;
      }
      span {
         top: 45%;
      }
      &::before {
         top: 0;
      }

      &.active::after {
         bottom: 19px;
         transform: rotate(45deg);
      }
      &.active::before {
         top: 17px;
         transform: rotate(-45deg);
      }
      &.active span {
         opacity: 0;
      }
   }
}

.intro__content {

   flex-grow: 1;

   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;

   position: relative;
   z-index: 1;


   &::after {
      content: '';
      display: block;
      width: 1000%;
      height: 20%;
      left: -500%;
      margin-bottom: 87px;
      position: absolute;
      background: $ellow;
      z-index: -1;
   }
}
.intro__content__inner {
   @extend %mon;

   width: 100%;
   color: #ffffff;
   padding: 0 30px;

  

   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   flex-wrap: nowrap;
   
   position: relative;
   z-index: 3;
   @media (max-width: 1200px) {
      padding: 0 calc(2px + (30 - 2) * ((100vw - 320px) / (1180 - 320)));
   }

   @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;

      .intro_btn {
         margin-top: 30px;
      }
   } 
}
.intro__title {
  font-size: 104px;
   text-transform: uppercase;

   span {
      font-weight: 900;
   }
}

.intro_btn {
   // @include adaptiv-font(37, 12, 1180);
   font-size: 37px;
   top: -12px;
   margin-top: 10px;
   margin-left: 5px;
   position: relative;
   text-transform: uppercase;
   font-weight: 450;

   padding: 20px 50px;
}
@media (max-width: 1200px) {
   .intro__title {
      @media (max-width: 1200px) {
         @include adaptiv-value('font-size', 104, 50);
      }
      
   }
   .intro_btn {
      font-size: 37px;
      padding: 20px 50px;
      @media (max-width: 1200px) {
         @include adaptiv-value('font-size', 37, 18);

         padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1180 - 320)))
         calc(12px + (50 - 12) * ((100vw - 320px) / (1180 - 320)));
      }
      
   }

}

/* what-new */

.what-new {
   min-height: 450px;
   padding: 120px 0;

   @media (max-width: 1200px) {
      padding: calc(60px + (120 - 60) * ((100vw - 320px) / (1180 - 320))) 0;
   }
   
   color: #ffffff;
   

   background-color: $gray;
   position: relative;

   img {
      position: absolute;
      
      height: 500px;
      bottom: 50%;
      transform: translate(0, 50%);
      right: 0;

      @media (max-width: 1200px) {
         @include adaptiv-value('height', 500, 124);
      }

   }
}

.what-new__content {
   padding-left: 60px;
   @media (max-width: 1200px) {
      @include adaptiv-value('padding-left', 60, 0);
   }
   

   width: 100%;
   height: 100%;
   position: relative;
   z-index: 2;

   &::after {
      content: '';
      display: block;
      position: absolute;
      background: $ellow;

      width: 89%;
      max-width: 950px;
      left: -10%;

      height: 59%;
      z-index: -1;
      bottom: 55%;
      transform: translate(0, 50%)
   }
   &::before {
      content: 'new format';
      @extend %mon;
      
      white-space: nowrap;
      font-size: 50px;
      font-weight: 100;
      letter-spacing: 10px;
      position: absolute;
      left: -19%;
      top: 179px;
      transform: rotate(-90deg);
   }
}

.what-new__title {
   font-size: 42px;
   
   font-weight: bold;
   letter-spacing: 5px;
    margin-bottom: 50px;

    z-index: 2;

    @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 42, 23);
   }
}
.what-new__item {
   margin-bottom: 70px;
   display: block;
   font-size: 47px;
   
   font-weight: 400;
   width: 87%;
   max-width: 740px;

   

   @media (max-width: 1200px) {
      @include adaptiv-value('margin-bottom', 70, 55);

      @include adaptiv-value('font-size', 47, 20);
   }
   &:last-child {
      margin-bottom: 0;
   }
   z-index: 2;

   &::before {
      content: '|';
      margin-right: 5px;
   }
}

@media (max-width: 1024px) {
   .what-new__item {
      max-width: 73%;
   }
}
@media (max-width: 1024px) {
   .what-new__content::before {
      display: none;
   }
   .what-new img {
      bottom: 61%;
   }

}

/* advantages */

.advantages {
   min-height: 375px;
   background: #ffffff;
   display: flex;
   align-items: center;

}
.advantages__list {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}
.advantages__item {
   width: 27%;

   list-style-type: upper-roman;

   &::marker {
      font-weight: bold;
      color: $ellow;
      font-size: 29px;
      position: relative;
      z-index: 2;
  }
}
.advantages__title {
   @extend %mon;
   margin-bottom: 30px;
   font-size: 29px;
   

   @media (max-width: 1200px) {
      @include adaptiv-value('margin-bottom', 30, 3);
      @include adaptiv-value('font-size', 29, 18);
   }

   font-weight: bold;
   color: $ellow;
   position: relative;

   &::before{
   top: 16px;

   

      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      background: #ffffff;
      left: -13px;
      position: absolute;
      z-index: 3;

      @media (max-width: 1200px) {
         @include adaptiv-value('top', 16, 10);
      }
   }
}
.advantages__txt {
   font-size: 17px;
   color: #000000;
}

@media (max-width: 768px) {
   .advantages__list {
      padding-top: 30px;
      padding-bottom: 30px;

      @media (max-width: 1200px) {
         @include adaptiv-value('padding-top', 30, 10);
         @include adaptiv-value('padding-bottom', 30, 10);
      }
      

      flex-direction: column;
      align-items: center;

      li {
         width: 77%;
         margin-bottom: 20px;
      }
   }
}
@media (max-width: 425px) {
   .advantages__list li {
      width: 90%;
   }
}


/* menu*/ 
.menu {
   min-height: 1000px;

   @media (max-width: 1200px) {
      @include adaptiv-value('min-height', 1000, 900);
   }
   

   background: url(../images/menu/menu__bg.jpg) $gray no-repeat center;
   background-size:cover;
   
   overflow: hidden;

   padding: 80px 0 50px 0;
}
.logo_menu {
   a{
      color: $ellow; 
   }
   
   display: block;
   text-align: center;

   margin-bottom: 70px;
}
%menu__title {
   display: block;
   height: 100%;
   
   margin-left: 20%;
   top: -9px;
   left: 0;
}

%menu--title--padding{
   padding-top: 24px;
   padding-bottom: 72px;
   @media (max-width: 1200px) {
      @include adaptiv-value('padding-top', 24, 8);
      @include adaptiv-value('padding-bottom', 72, 10);  
   }
   
}
.menu__title {
   margin-bottom: 240px;

   

   @extend %mon;

   display: flex;
   width: 101%;
   position: relative;
   @media (max-width: 1200px) {
      @include adaptiv-value('margin-bottom', 240, 130);  
   }


   span {
      font-size: 48px;
      @extend %menu--title--padding;
     
      @extend %menu__title;

      @media (max-width: 1200px) {
         @include adaptiv-value('font-size', 48, 29);
      }

      width: 80%;
      text-align: center;

      padding: 24px 0 72px 0;
      

      margin-right: 10%;
      color: $ellow;
      font-weight: 400;
      text-transform: uppercase;
      position: relative;

      @media(max-width:500px){
         padding: 24px 0;
      }
   
   }

   &::after {
      @extend %menu__title;

      content: '';
      width: 100%;
      display: block;
      padding: 24px 0 72px 20%;
      border: 2px solid #ffffff;
      position: absolute;
   }
   
}
.menu-list {

   li {list-style: upper-roman}

   width: 80%;

   float: right;
   position: relative;

   &::after {
      content: '';
      display: block;
      position: absolute;
      background: $ellow;

      width: 300%;
      height: 85%;
      position: absolute;
      top: -15%;
      left: -7%;
      z-index: 1;
      right: 193%;

      @media (max-width:768px) {
         width: 160%;
         left: -30%;
         right: 0;
      }
   }

   &::before {
      content: '';
      background: rgba(255, 218, 0, 0.4);
      position: absolute;
      z-index: 2;
      right: 7%;
      bottom: 10%;
      height: 96%;
      width: 65px;
   }

   @media (max-width:768px) {
      float: none;
      padding-left: 10%;

      &::before {
         right: -22.5%;
         bottom: 0;
         height: 110%;
      }
   }
}
.menu-list__item {
   font-size: 33px;
   margin-bottom: 50px;

   transition: box-shadow .2s;

   

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 33, 18);
      @include adaptiv-value('margin-bottom', 50, 25);
   }

   z-index: 2;
   position: relative;
   
   color: #ffffff;

   h3{
      text-transform: uppercase;
      
      font-weight: 500;
   }
   p {
      text-transform: lowercase;
      font-weight: 300;
      padding-right: 15%;

      &::before {content: '('}
      &::after {content: ')'}
   }
   span {
      position: absolute;
      z-index: 4;

      right: 10%;
      top: 0;
   }
   @media (max-width: 768px) {
      span {
         right: -19%;
      }
   }
}

.menu__benefit {
   color: #ffffff;
   font-weight: 300;
   clear: both;
   display: block;
   padding: 20px 0 20px ;
   padding-left: 180px;
   
   @media (max-width: 1200px) {
      @include adaptiv-value('padding-left', 180, 40);
   }

   font-size: 25px;
   border: 2px solid #ffffff;
   width: 100%;

   line-height: 35px;

   li {
      list-style: upper-roman;
      
      &::before {
         content: '_';
         margin-right: 10px;
      }
   }
}
/* about */

.about {
   padding-top: 115px;
   padding-bottom: 115px;
   

   @media (max-width: 1200px) {
      @include adaptiv-value('padding-top', 115, 50);
      @include adaptiv-value('padding-bottom', 115, 50);
   }

   display: flex;
   align-items: center;
   background: #242424;
}
.about__title {
   font-size: 42px;

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 42, 28);
   }
   

   word-spacing: 10px;
   text-align: center;
   font-size: 42px;
   color: $ellow;
   margin-bottom: 40px;
   font-weight: 300;

   span {
      font-weight:900;
   }
}
.about__txt {
   text-align: center;
   @extend %ral;

   font-size: 19px;
   line-height: 33.33px;
   margin-bottom: 34px;
   color: #ffffff;

   max-width: 750px;
}
.about__nav {
   text-align: center;
   display: block;
   

   a {
      @extend %ral;

      font-size: 17px;
      padding-right: 40px;

      @media (max-width: 1200px) {
         @include adaptiv-value('font-size', 17, 13);
         @include adaptiv-value('padding-right', 40, 9);
      }
      

      color: #ffffff;

      transition: color .1s;

      &:hover {
         color: $ellow;
      }  
   }
}

/*masterclass*/

.masterclass {
   padding-top: 100px;
   padding-bottom: 100px;

   @media (max-width: 1200px) {
      @include adaptiv-value('padding-top', 100, 45);
      @include adaptiv-value('padding-bottom', 100, 45);
   }
   

   background: url(../images/masterclass/masterclass__bg.jpg) $gray no-repeat center;
   background-size: cover;
}

.masterclass__inner {
   display: flex;
   flex-direction: column;
   align-items: flex-end;

   @media (max-width: 768px) {
      align-items: flex-start;
   }
   @media (max-width: 425px) {
      align-items: center;
   }
}

.masterslass__title {
   margin-bottom: 94px;
   font-size: 42px;

   @media (max-width: 1200px) {
      @include adaptiv-value('margin-bottom', 94, 35);
      @include adaptiv-value('font-size', 42, 28);
   }
   


   text-transform: uppercase;
   font-weight: bold;

   color: #ffffff;

   @media (max-width: 768px) {
      text-shadow: 1px 1px 6px $gray;
   }
}
.masterclass__content {
   padding: 90px 60px;

   @media (max-width: 1200px) {
      @include adaptiv-value('padding-top', 90, 45);
      @include adaptiv-value('padding-bottom', 90, 45);  
      @include adaptiv-value('padding-left', 60, 15);
      @include adaptiv-value('padding-right', 60, 15);  
   }
  
   background: $ellow;
   color: #ffffff;

   margin-bottom: 45px;

   width: 47%;

   @media (max-width: 1024px) {
      width: 80%;
   }
   @media (max-width: 768px) {
      width: 90%;
   }
   @media (max-width: 425px) {
      width: 100%;
   }

}
.masterclass__txt {
   font-size: 50px;

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 50, 36);
   }


   text-transform: uppercase;
   margin-bottom: 35px;

   &::after, &::before {
      content: '|';
   }

   @media (max-width: 768px) {
      text-align: center;

      &::after, &::before {
         display: none;
      }
   }
}
.masterclass__subtext {
   font-size: 42px;
   margin-bottom: 100px;

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 42, 35);

      @include adaptiv-value('margin-bottom', 100, 50);
   }
   

   font-weight: 500;
   letter-spacing: 2.08px;

   @media (max-width: 768px) {
      text-align: center;
   }
}
.masterclass__price {
   font-size: 42px;

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 42, 34);
   }
   

   text-align: right;
   margin-bottom: 17px;
   text-transform: uppercase;

   span {
      font-weight: bold;
      margin-left: 10px;
   }
}
.masterclass__time {
   font-size: 50px;

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 50, 30);
   }
   

   text-align: right;
}
.masterclass__btn {
   padding: 59px 294px 10px 10px;

   @media (max-width: 1200px) {
      @include adaptiv-value('padding-top', 59, 50);
      @include adaptiv-value('padding-right', 294, 50); 
   }

   font-size: 42px;
   border: 0;
   
   text-transform: uppercase;
   font-weight: bold;

   @media (max-width: 425px) {
      padding: 22px 51px;
   }
}


/*footer*/

.footer {
   min-height: 1261px;
   background: $gray;
   padding-top: 140px;
   position: relative;


   &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 250px;
      background: $ellow;
      top: 0;
      right: 66.5%;
      z-index: 1;
   }
}
.gallery {
   margin-bottom: 140px;

   @media (max-width: 1200px) {
      @include adaptiv-value('margin-bottom', 140, 50);
   }

   

   position: relative;
   z-index: 2;

   height: 475px;
}

/* slider */

.galery__slider {
   max-height: 900px;

   @media (max-width: 1200px) {
      @include adaptiv-value('max-height', 900, 400);
   }

   position: relative;
   display: flex;
   flex-wrap: nowrap;
   margin: 0 auto;
   overflow: hidden;
   max-width: 1200px;

 
   .btn_slider {
      position: absolute;
      bottom: 4px;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $ellow;
      color: $gray;

      display: flex;
      align-items: center;
      justify-content: center;

      box-shadow: 0 0 15px $gray;

      &.left {
         right: 50%;
         transform: translate(-50%, 0);

      }
      &.rigth {
         left: 50%;
         transform: translate(50%, 0);
         transform: rotate(180deg)
      }
   }
 }
.swiper-wrapper {
   height: 100%;

   *{
      height: 100%;
   }
}
 
.swiper-container .swiper-slide {
   height: 100%;
   width: auto;
}
.slide__img {
   height: 100%;
   @media (max-width: 450px) {
      @include adaptiv-value('height', 500, 300);
   }
   border-left: 3px solid #fff;
   width: auto;
}


.gallery__title {
   @extend %mon;
   color: $ellow;

   text-transform: uppercase;

   margin-bottom: 53px;

   font-weight: bold;
   font-size: 42px;
   text-align: center;
   text-shadow: 1px 1px 3px $gray;

}


.footer_logo {
   display: block;
   text-align: center;
   margin-bottom: 42px;
   text-shadow: 1px 1px 3px $gray;
   position: relative;
   z-index: 3;
}
.footer__content {
   position: relative;
   z-index: 2;
   display: flex;
   justify-content: space-around;

   @media (max-width:768px) {
      flex-direction: column;
      align-items: center;

      .footer__txt, .footer__links {
         width: 90%;
      }
      .footer__txt {
         margin-bottom: 20px;
      }
   }
}
.footer__txt {
   width: 35%;
   font-size: 25px;
   line-height: 41.67px;
   color: #ffffff;
   font-weight: 300;
}
.footer__links {
   width: 40%;
}
.footer__linksTitle {
   font-size: 25px;
   color: #ffffff;
   margin-bottom: 16px;

   &::before {
      content: '|';
      display: inline-block;
      margin-right: 5px;
   }
}
.icons {
   display: flex;
   justify-content: space-between;
   width: 245px;

   margin-bottom: 64px;
   a {
      display: inline-block;
      width: 55px;
      height: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      color: $gray;
      border-radius: 50%;
      font-size: 28px;

      transition: background-color, color .1s, .1s ;

      &:hover {
         background: $gray;
         color:#fff ;
         border: 5px solid #fff;
      }
   }
}
.footer__link {
   font-size: 33px;

   @media (max-width: 1200px) {
      @include adaptiv-value('font-size', 33, 24);
   }
   

   color: $ellow;
   font-weight: bold;
}
.footer-info {
   display: flex;

   background: #483400;
   padding: 70px 0;
}
.footer-info__inner {
   display: flex;
   justify-content: space-between;

   @media (max-width: 768px)  {
      flex-wrap: wrap;
      justify-content: start;

      .footer-info__colum {
         margin-left: 30px;
      }

      .footer-info__colum:first-child {
         width: 100%;
         margin-bottom: 20px;
         margin-left: 0;
      }
   }
}
.footer-info__colum {
   color: #ffffff;

   h2 {
      font-size: 24px;
      margin-bottom: 50px;
      @media (max-width: 1200px) {
         @include adaptiv-value('font-size', 24, 15);
         @include adaptiv-value('margin-bottom', 50, 20);
      }
   
      text-transform: uppercase;
   }
   p {
      font-weight: 300;
      line-height: 29.17px;
      font-size: 21;
   }
   &:first-child {
      width: 30%;
   }
   ul li {
      margin-bottom: 12px;
      

      &::first-letter {
         text-transform: uppercase;
      }
      a {
         color: #ffffff;

         &:hover {
            color: $ellow;
         }
      }
   }
}