@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ol li, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*---------------------*/
body {
  font-family: 'Lato', sans-serif;
}

.logo, .intro__content__inner, .what-new__content::before, .advantages__title, .menu__title, .gallery__title {
  font-family: 'Montserrat', sans-serif;
}

.about__txt, .about__nav a {
  font-family: 'Raleway', sans-serif;
}

i {
  font-style: normal;
}

/*
адаптивная формула для px:
   calc(MINpx + (MAX - MIN) * ((100vw - 320px) / (MaxWidthContainer - 320)))
*/
body.lock {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
}

.btn {
  background: #ffbb00;
  color: #ffffff;
  border: solid 3px #ffffff;
  display: inline-block;
  -webkit-transition: color, background-color .1s;
  transition: color, background-color .1s;
}

.btn:hover {
  color: #ffbb00;
  background-color: #fff;
}

.logo {
  display: inline-block;
}

.logo a {
  font-size: 33px;
  color: #fff;
  font-weight: 700;
}

.logo a i {
  font-weight: 300;
}



.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  min-height: 450px;
  background: url(../images/header/header_bg.jpg) no-repeat center;
  background-position: center 0;
  background-size: cover;
}

.intro__header {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  min-height: 120px;
  z-index: 4;
  background: rgba(24, 24, 24, 0.8);
}

@media (max-width: 768px) {
  .intro__header {
    min-height: 80px;
  }
}

.intro__header__inner {
  width: 100%;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_intro {
  position: relative;
  z-index: 2;
}

.logo_intro::after {
  content: '';
  top: -5px;
  z-index: -1;
  position: absolute;
  background: #ffbb00;
  height: 180%;
  width: 2000%;
  left: -1880%;
  display: block;
}

.intro__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 70%;
}

.intro__link {
  margin-left: 60px;
  font-size: 30px;
  color: #ffffff;
  -webkit-transition: text-shadow .1s;
  transition: text-shadow .1s;
}

.intro__link:hover {
  text-shadow: 0 0 7px #fff;
}

.intro__link::first-letter {
  text-transform: uppercase;
}

.intro__burger {
  display: none;
  position: absolute;
}

@media (max-width: 1024px) {
  .intro__nav {
    min-width: 70%;
  }
}

@media (max-width: 768px) {
  .intro__header__inner {
    padding-top: 11px;
  }
  .intro__nav {
    padding: 20px 0 0 20px;
    margin-top: 90px;
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 186, 0, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .intro__nav.active {
    top: 0;
    overflow: auto;
  }
  .intro__link {
    margin-bottom: 30px;
    font-size: 40px;
    display: inline-block;
  }
  .intro__burger {
    display: block;
    position: relative;
    height: 42px;
    width: 53px;
    top: 8px;
  }
  .intro__burger::after, .intro__burger::before,
  .intro__burger span {
    content: '';
    width: 100%;
    height: 6px;
    background: #fff;
    position: absolute;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .intro__burger::after {
    bottom: 0;
  }
  .intro__burger span {
    top: 45%;
  }
  .intro__burger::before {
    top: 0;
  }
  .intro__burger.active::after {
    bottom: 19px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .intro__burger.active::before {
    top: 17px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .intro__burger.active span {
    opacity: 0;
  }
}

.intro__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.intro__content::after {
  content: '';
  display: block;
  width: 1000%;
  height: 20%;
  left: -500%;
  margin-bottom: 87px;
  position: absolute;
  background: #ffbb00;
  z-index: -1;
}

.intro__content__inner {
  width: 100%;
  color: #ffffff;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  z-index: 3;
}



@media (max-width: 768px) {
  .intro__content__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__content__inner .intro_btn {
    margin-top: 30px;
  }
}

.intro__title {
  font-size: 104px;
  text-transform: uppercase;
}

.intro__title span {
  font-weight: 900;
}

.intro_btn {
  font-size: 37px;
  top: -12px;
  margin-top: 10px;
  margin-left: 5px;
  position: relative;
  text-transform: uppercase;
  font-weight: 450;
  padding: 20px 50px;
}


@media (max-width: 1200px) {
  .intro_btn {
    font-size: 37px;
    padding: 20px 50px;
  }
}

/* what-new */
.what-new {
  min-height: 450px;
  padding: 120px 0;
  color: #ffffff;
  background-color: #242424;
  position: relative;
}

.what-new img {
  position: absolute;
  height: 500px;
  bottom: 50%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  right: 0;
}


.what-new__content {
  padding-left: 60px;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}


.what-new__content::after {
  content: '';
  display: block;
  position: absolute;
  background: #ffbb00;
  width: 89%;
  max-width: 950px;
  left: -10%;
  height: 59%;
  z-index: -1;
  bottom: 55%;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.what-new__content::before {
  content: 'new format';
  white-space: nowrap;
  font-size: 50px;
  font-weight: 100;
  letter-spacing: 10px;
  position: absolute;
  left: -19%;
  top: 179px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.what-new__title {
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 50px;
  z-index: 2;
}


.what-new__item {
  margin-bottom: 70px;
  display: block;
  font-size: 47px;
  font-weight: 400;
  width: 87%;
  max-width: 740px;
  z-index: 2;
}


.what-new__item:last-child {
  margin-bottom: 0;
}

.what-new__item::before {
  content: '|';
  margin-right: 5px;
}

@media (max-width: 1024px) {
  .what-new__item {
    max-width: 73%;
  }
}

@media (max-width: 1024px) {
  .what-new__content::before {
    display: none;
  }
  .what-new img {
    bottom: 61%;
  }
}

/* advantages */
.advantages {
  min-height: 375px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__item {
  padding-left: 10px;
  width: 27%;
  list-style-type: upper-roman;
}

.advantages__item::marker {
  font-weight: bold;
  color: #ffbb00;
  font-size: 29px;
  position: relative;
  z-index: 2;
}

.advantages__title {
  margin-bottom: 30px;
  font-size: 29px;
  font-weight: bold;
  color: #ffbb00;
  position: relative;
}



.advantages__title::before {
  top: 16px;
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #ffffff;
  left: -22px;
  position: absolute;
  z-index: 3;
}

@media (max-width: 1200px) {
  
}

.advantages__txt {
  font-size: 17px;
  color: #000000;
}

@media (max-width: 768px) {
  .advantages__list {
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}



@media (max-width: 768px) {
  .advantages__list li {
    width: 78%;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .advantages__list li {
    width: 78%;
  }
}

/* menu*/
.menu {
  min-height: 1000px;
  background: url(../images/menu/menu__bg.jpg) #242424 no-repeat center;
  background-size: cover;
  overflow: hidden;
  padding: 80px 0 50px 0;
}


.logo_menu {
  display: block;
  text-align: center;
  margin-bottom: 70px;
}

.logo_menu a {
  color: #ffbb00;
}

.menu__title span, .menu__title::after {
  display: block;
  height: 100%;
  margin-left: 20%;
  top: -9px;
  left: 0;
}

.menu__title span {
  padding-top: 24px;
  padding-bottom: 72px;
}


.menu__title {
  margin-bottom: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 101%;
  position: relative;
}


.menu__title span {
  font-size: 48px;
  width: 80%;
  text-align: center;
  padding: 24px 0 72px 0;
  margin-right: 10%;
  color: #ffbb00;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}


@media (max-width: 500px) {
  .menu__title span {
    padding: 24px 0;
  }
}

.menu__title::after {
  content: '';
  width: 100%;
  display: block;
  padding: 24px 0 72px 20%;
  border: 2px solid #ffffff;
  position: absolute;
}

.menu-list {
  width: 80%;
  float: right;
  position: relative;
}

.menu-list li {
  list-style: upper-roman;
}

.menu-list::after {
  content: '';
  display: block;
  position: absolute;
  background: #ffbb00;
  width: 300%;
  height: 85%;
  position: absolute;
  top: -15%;
  left: -7%;
  z-index: 1;
  right: 193%;
}

@media (max-width: 768px) {
  .menu-list::after {
    width: 160%;
    left: -30%;
    right: 0;
  }
}

.menu-list::before {
  content: '';
  background: rgba(255, 218, 0, 0.4);
  position: absolute;
  z-index: 2;
  right: 7%;
  bottom: 10%;
  height: 96%;
  width: 65px;
}

@media (max-width: 768px) {
  .menu-list {
    float: none;
    padding-left: 10%;
  }
  .menu-list::before {
    right: -22.5%;
    bottom: 0;
    height: 110%;
  }
}

.menu-list__item {
  font-size: 33px;
  margin-bottom: 50px;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  z-index: 2;
  position: relative;
  color: #ffffff;
}


.menu-list__item h3 {
  text-transform: uppercase;
  font-weight: 500;
}

.menu-list__item p {
  text-transform: lowercase;
  font-weight: 300;
  padding-right: 15%;
}

.menu-list__item p::before {
  content: '(';
}

.menu-list__item p::after {
  content: ')';
}

.menu-list__item span {
  position: absolute;
  z-index: 4;
  right: 10%;
  top: 0;
}

@media (max-width: 768px) {
  .menu-list__item span {
    right: -19%;
  }
}

.menu__benefit {
  color: #ffffff;
  font-weight: 300;
  clear: both;
  display: block;
  padding: 20px 0 20px;
  padding-left: 180px;
  font-size: 25px;
  border: 2px solid #ffffff;
  width: 100%;
  line-height: 35px;
}


.menu__benefit li {
  list-style: upper-roman;
}

.menu__benefit li::before {
  content: '_';
  margin-right: 10px;
}

/* about */
.about {
  padding-top: 115px;
  padding-bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #242424;
}


.about__title {
  font-size: 42px;
  word-spacing: 10px;
  text-align: center;
  font-size: 42px;
  color: #ffbb00;
  margin-bottom: 40px;
  font-weight: 300;
}


.about__title span {
  font-weight: 900;
}

.about__txt {
  text-align: center;
  font-size: 19px;
  line-height: 33.33px;
  margin-bottom: 34px;
  color: #ffffff;
  max-width: 750px;
}

.about__nav {
  text-align: center;
  display: block;
}

.about__nav a {
  font-size: 17px;
  padding-right: 40px;
  color: #ffffff;
  -webkit-transition: color .1s;
  transition: color .1s;
}


.about__nav a:hover {
  color: #ffbb00;
}

/*masterclass*/
.masterclass {
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(../images/masterclass/masterclass__bg.jpg) #242424 no-repeat center;
  background-size: cover;
}


.masterclass__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  .masterclass__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 425px) {
  .masterclass__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.masterslass__title {
  margin-bottom: 94px;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}


@media (max-width: 768px) {
  .masterslass__title {
    text-shadow: 1px 1px 6px #242424;
  }
}

.masterclass__content {
  padding: 90px 60px;
  background: #ffbb00;
  color: #ffffff;
  margin-bottom: 45px;
  width: 47%;
}


@media (max-width: 1024px) {
  .masterclass__content {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .masterclass__content {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .masterclass__content {
    width: 100%;
  }
}

.masterclass__txt {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 35px;
}


.masterclass__txt::after, .masterclass__txt::before {
  content: '|';
}

@media (max-width: 768px) {
  .masterclass__txt {
    text-align: center;
  }
  .masterclass__txt::after, .masterclass__txt::before {
    display: none;
  }
}

.masterclass__subtext {
  font-size: 42px;
  margin-bottom: 100px;
  font-weight: 500;
  letter-spacing: 2.08px;
}


@media (max-width: 768px) {
  .masterclass__subtext {
    text-align: center;
  }
}

.masterclass__price {
  font-size: 42px;
  text-align: right;
  margin-bottom: 17px;
  text-transform: uppercase;
}

.masterclass__price span {
  font-weight: bold;
  margin-left: 10px;
}

.masterclass__time {
  font-size: 50px;
  text-align: right;
}


.masterclass__btn {
  padding: 59px 294px 10px 10px;
  font-size: 42px;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
}


@media (max-width: 425px) {
  .masterclass__btn {
    padding: 22px 51px;
  }
}

/*footer*/
.footer {
  min-height: 1261px;
  background: #242424;
  padding-top: 140px;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 250px;
  background: #ffbb00;
  top: 0;
  right: 66.5%;
  z-index: 1;
}

.gallery {
  margin-bottom: 140px;
  position: relative;
  z-index: 2;
  height: 475px;
}

/* slider */
.galery__slider {
  max-height: 900px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 auto;
  overflow: hidden;
  max-width: 1200px;
}



.galery__slider .btn_slider {
  position: absolute;
  bottom: 4px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffbb00;
  color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 15px #242424;
          box-shadow: 0 0 15px #242424;
}

.galery__slider .btn_slider.left {
  right: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.galery__slider .btn_slider.rigth {
  left: 50%;
  -webkit-transform: translate(50%, 0);
          transform: translate(50%, 0);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-wrapper {
  height: 100%;
}

.swiper-wrapper * {
  height: 100%;
}

.swiper-container .swiper-slide {
  height: 100%;
  width: auto;
}

.slide__img {
  height: 100%;
  border-left: 3px solid #fff;
  width: auto;
}

@media (max-width: 450px) {
  .slide__img {
    height: calc(300px + (500 - 300) * ((100vw - 320px) / 860));
  }
}

.gallery__title {
  color: #ffbb00;
  text-transform: uppercase;
  margin-bottom: 53px;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  text-shadow: 1px 1px 3px #242424;
}

.footer_logo {
  display: block;
  text-align: center;
  margin-bottom: 42px;
  text-shadow: 1px 1px 3px #242424;
  position: relative;
  z-index: 3;
}

.footer__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__content .footer__txt, .footer__content .footer__links {
    width: 90%;
  }
  .footer__content .footer__txt {
    margin-bottom: 20px;
  }
}

.footer__txt {
  width: 35%;
  font-size: 25px;
  line-height: 41.67px;
  color: #ffffff;
  font-weight: 300;
}

.footer__links {
  width: 40%;
}

.footer__linksTitle {
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer__linksTitle::before {
  content: '|';
  display: inline-block;
  margin-right: 5px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 245px;
  margin-bottom: 64px;
}

.icons a {
  display: inline-block;
  width: 55px;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  color: #242424;
  border-radius: 50%;
  font-size: 28px;
  -webkit-transition: background-color, color .1s, .1s;
  transition: background-color, color .1s, .1s;
}

.icons a:hover {
  background: #242424;
  color: #fff;
  border: 5px solid #fff;
}

.footer__link {
  font-size: 33px;
  color: #ffbb00;
  font-weight: bold;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #483400;
  padding: 70px 0;
}

.footer-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .footer-info__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer-info__inner .footer-info__colum {
    margin-left: 30px;
  }
  .footer-info__inner .footer-info__colum:first-child {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.footer-info__colum {
  color: #ffffff;
}

.footer-info__colum h2 {
  font-size: 24px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.footer-info__colum p {
  font-weight: 300;
  line-height: 29.17px;
  font-size: 21;
}

.footer-info__colum:first-child {
  width: 30%;
}

.footer-info__colum ul li {
  margin-bottom: 12px;
}

.footer-info__colum ul li::first-letter {
  text-transform: uppercase;
}

.footer-info__colum ul li a {
  color: #ffffff;
}

.footer-info__colum ul li a:hover {
  color: #ffbb00;
}

/* адаптив свойтсв по формуле */
@media (max-width: 1200px) {
  .logo {
     font-size: calc(25px + (33 - 25) * ((100vw - 320px) / 860));
  }
  .intro__content__inner {
     padding: 0 calc(2px + (30 - 2) * ((100vw - 320px) / (1180 - 320)));
   }
   .intro__title {
     font-size: calc(50px + (104 - 50) * ((100vw - 320px) / 860));
   }
   .intro_btn {
     font-size: calc(18px + (37 - 18) * ((100vw - 320px) / 860));
     padding: calc(10px + (20 - 10) * ((100vw - 320px) / (1180 - 320))) calc(12px + (50 - 12) * ((100vw - 320px) / (1180 - 320)));
   }
   .what-new {
     padding: calc(60px + (120 - 60) * ((100vw - 320px) / (1180 - 320))) 0;
   }
   .what-new img {
     height: calc(124px + (500 - 124) * ((100vw - 320px) / 860));
   }
   .what-new__content {
     padding-left: calc(0px + (60 - 0) * ((100vw - 320px) / 860));
   }
   .what-new__title {
     font-size: calc(23px + (42 - 23) * ((100vw - 320px) / 860));
   }
   .what-new__item {
     margin-bottom: calc(55px + (70 - 55) * ((100vw - 320px) / 860));
     font-size: calc(20px + (47 - 20) * ((100vw - 320px) / 860));
   }
   .advantages__title {
     margin-bottom: calc(3px + (30 - 3) * ((100vw - 320px) / 860));
     font-size: calc(18px + (29 - 18) * ((100vw - 320px) / 860));
   }
   .advantages__title::before {
     top: calc(10px + (16 - 10) * ((100vw - 320px) / 860));
   }
   .advantages__list {
     padding-top: calc(10px + (30 - 10) * ((100vw - 320px) / 860));
     padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / 860));
   }
   .menu {
     min-height: calc(900px + (1000 - 900) * ((100vw - 320px) / 860));
   }
   .menu__title span {
     padding-top: calc(8px + (24 - 8) * ((100vw - 320px) / 860));
     padding-bottom: calc(10px + (72 - 10) * ((100vw - 320px) / 860));
   }
   .menu__title {
     margin-bottom: calc(130px + (240 - 130) * ((100vw - 320px) / 860));
   }
   .menu__title span {
     font-size: calc(29px + (48 - 29) * ((100vw - 320px) / 860));
   }
   .menu-list__item {
     font-size: calc(18px + (33 - 18) * ((100vw - 320px) / 860));
     margin-bottom: calc(25px + (50 - 25) * ((100vw - 320px) / 860));
   }
   .menu__benefit {
     padding-left: calc(40px + (180 - 40) * ((100vw - 320px) / 860));
   }
   .about {
     padding-top: calc(50px + (115 - 50) * ((100vw - 320px) / 860));
     padding-bottom: calc(50px + (115 - 50) * ((100vw - 320px) / 860));
   }
   .about__title {
     font-size: calc(28px + (42 - 28) * ((100vw - 320px) / 860));
   }
   .about__nav a {
     font-size: calc(13px + (17 - 13) * ((100vw - 320px) / 860));
     padding-right: calc(9px + (40 - 9) * ((100vw - 320px) / 860));
   }
   .masterclass {
     padding-top: calc(45px + (100 - 45) * ((100vw - 320px) / 860));
     padding-bottom: calc(45px + (100 - 45) * ((100vw - 320px) / 860));
   }
   .masterslass__title {
     margin-bottom: calc(35px + (94 - 35) * ((100vw - 320px) / 860));
     font-size: calc(28px + (42 - 28) * ((100vw - 320px) / 860));
   }
   .masterclass__content {
     padding-top: calc(45px + (90 - 45) * ((100vw - 320px) / 860));
     padding-bottom: calc(45px + (90 - 45) * ((100vw - 320px) / 860));
     padding-left: calc(15px + (60 - 15) * ((100vw - 320px) / 860));
     padding-right: calc(15px + (60 - 15) * ((100vw - 320px) / 860));
   }
   .masterclass__txt {
     font-size: calc(36px + (50 - 36) * ((100vw - 320px) / 860));
   }
   .masterclass__subtext {
     font-size: calc(35px + (42 - 35) * ((100vw - 320px) / 860));
     margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / 860));
   }
   .masterclass__price {
     font-size: calc(34px + (42 - 34) * ((100vw - 320px) / 860));
   }
   .masterclass__time {
     font-size: calc(30px + (50 - 30) * ((100vw - 320px) / 860));
   }
   .masterclass__btn {
     padding-top: calc(50px + (59 - 50) * ((100vw - 320px) / 860));
     padding-right: calc(50px + (294 - 50) * ((100vw - 320px) / 860));
   }
   .gallery {
     margin-bottom: calc(50px + (140 - 50) * ((100vw - 320px) / 860));
   }
   .galery__slider {
     max-height: calc(400px + (900 - 400) * ((100vw - 320px) / 860));
   }
   .footer__link {
     font-size: calc(24px + (33 - 24) * ((100vw - 320px) / 860));
   }
   .footer-info__colum h2 {
     font-size: calc(15px + (24 - 15) * ((100vw - 320px) / 860));
     margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / 860));
   }
}
